<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ana Səhifə</title>
    <link rel="stylesheet" href="../assets/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lobster&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
      integrity="sha512-rqQltXRuHxtPWhktpAZxLHUVJ3Eombn3hvk9PHjV/N5DMUYnzKPC1i3ub0mEXgFzsaZNeJcoE0YHq0j/GFsdGg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="first-title-div">
      <h1 class="first-title"><a href="#">Kitab Mağazası</a></h1>
    </div>
    <div class="menu">
      <ul class="menu-links">
        <li class="home">ana səhifə</li>
        <li>haqqımızda</li>
        <li>kateqoriyalar</li>
        <li>məhsullar</li>
        <li>əlaqə</li>
      </ul>
    </div>
    <div class="main">
      <div class="book-section">
        <div class="book-image">
          <img src="../assets/images/books.png" alt="" />
        </div>
        <div class="book-content">
          <p>
            Çoxları hesab edir ki, yay tətilini kitabsız təsəvvür etmək
            qeyri-mümkündür. Amma məncə əksinə, məhz payız əsl mütaliə fəslidir.
            <br />
            Yayın qızmar günəşi artıq yavaş-yavaş əl-ayağını yığışdırıb öz evinə
            geri dönür. Əvəzində isə bizi sanki boynumuzu qıdıqlayan,
            köynəyimizin yaxasından dolub sanki sığal çəkirmiş kimi oxşayan
            mehriban küləklər qarşılayır. Düzdür, bəzən bu küləklər də
            qəzəblənir, hirsini bizə tökür, göz yaşlarını yağış edib üstümüzə
            axıdır, bütün şıltaqlığını nümayiş etdirib sevgimizdən pay alır.
            Yarpaqlar belə ağaclarından küsüb inciyirlər... Belə havalarda
            pişiklər belə insanların ayağına qısılaraq isti bir qucaq
            axtarırlar. <br />
            Bax beləcə, payız bizə qonaq gəlir... <br />
            Belə nisgil dolu havada adama yalnız təbiəti seyr edə biləcəyi geniş
            bir pəncərə önü, bir fincan isti qəhvə və oxumaqdan həzz alacağı bir
            kitab yetərlidir. Alırsan əlinə kitabını və bütün dünyadan, şəhərin
            səs-küyündən, yağışından-küləyindən “gizlənirsən".
          </p>
          <input type="submit" value="Kitabları kəşf et" class="bookBtn" />
        </div>
      </div>
    </div>
    <div class="book-list">
      <h1>KİTABLAR</h1>
      <div class="books">
        <div class="book">
          <img src="../assets/images/Inkognito.png" alt="" />
          <h4>Inkognito 1</h4>
          <a href="./product.html">Ətraflı</a>
        </div>
        <div class="book">
          <img src="../assets/images/Inkognito.png" alt="" />
          <h4>Inkognito 1</h4>
          <a href="./product.html">Ətraflı</a>
        </div>
        <div class="book">
          <img src="../assets/images/Inkognito.png" alt="" />
          <h4>Inkognito 1</h4>
          <a href="./product.html">Ətraflı</a>
        </div>
        <div class="book">
          <img src="../assets/images/Inkognito.png" alt="" />
          <h4>Inkognito 1</h4>
          <a href="./product.html">Ətraflı</a>
        </div>
        <div class="book">
          <img src="../assets/images/Inkognito.png" alt="" />
          <h4>Inkognito 1</h4>
          <a href="./product.html">Ətraflı</a>
        </div>
        <div class="book">
          <img src="../assets/images/Inkognito.png" alt="" />
          <h4>Inkognito 1</h4>
          <a href="./product.html">Ətraflı</a>
        </div>
        <div class="book">
          <img src="../assets/images/Inkognito.png" alt="" />
          <h4>Inkognito 1</h4>
          <a href="./product.html">Ətraflı</a>
        </div>
        <div class="book">
          <img src="../assets/images/Inkognito.png" alt="" />
          <h4>Inkognito 1</h4>
          <a href="./product.html">Ətraflı</a>
        </div>
        <div class="book">
          <img src="../assets/images/Inkognito.png" alt="" />
          <h4>Inkognito 1</h4>
          <a href="./product.html">Ətraflı</a>
        </div>
      </div>
    </div>
    <div class="footer">
      <p>2020 © Bütün haqlar qorunur.</p>
    </div>
    <div class="social-media">
      <ul>
        <li>
          <a href="https://az-az.facebook.com/"
            ><i class="fab fa-facebook-f"></i
          ></a>
        </li>
        <li>
          <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
        </li>
        <li>
          <a href="https://www.instagram.com/"
            ><i class="fab fa-instagram"></i
          ></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/"
            ><i class="fab fa-linkedin"></i
          ></a>
        </li>
        <li>
          <a href="https://www.google.com/"><i class="fab fa-google"></i></a>
        </li>
        <li class="angle">
          <a href="#"><i class="fas fa-angle-double-up"></i></a>
        </li>
      </ul>
    </div>
  </body>
</html>
